<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
  <meta th:replace="@{include/meta.html}">

  <link th:replace="@{include/link.html}">
    <title>Document</title>
</head>
<body sec:authorize="isAuthenticated ()" >
  <header th:replace="@{/include/navbar.html}"> </header>
    <h1>Register</h1>
    <div class="card w-75 mx-auto">
        <div class="card-body">
            <p th:if="${feedback}" th:text="${feedback}"></p>
            <!-- La validation côté html est une validation de confort, c'est bien de l'avoir
            pour le user final, mais elle n'est pas sécurisée du tout, on peut très facilement
            passer à travers, la validation côté back est donc obligatoire pour la sécurité -->
            <form th:action="@{/authentification}" method="post">
              <label for="pseudo">pseudo :</label>
                <input th:classappend="${#fields.hasErrors('user.pseudo')}?'is-invalid':'is-valid'" type="text" required id="pseudo" class="form-control" th:field="${user.pseudo}">
                <p class="invalid-feedback" th:errors="${user.pseudo}"></p>

                <label for="email">Email :</label>
                <input th:classappend="${#fields.hasErrors('user.email')}?'is-invalid':'is-valid'" type="email" required id="email" class="form-control" th:field="${user.email}">
                <p class="invalid-feedback" th:errors="${user.email}"></p>
                
                <label for="password">Password :</label>
                <input th:classappend="${#fields.hasErrors('user.password')}?'is-invalid':'is-valid'" type="password" required minlength="4" id="password" class="form-control" th:field="${user.password}">
                <p class="invalid-feedback" th:errors="${user.password}"></p>

                <p class="text-danger" th:errors="${user.password}"></p>
                <button class="btn btn-primary">Register</button>
            </form>
        </div>
    </div>
    <p th:text="${#authentication.principal.email}"></p>

</body>
</html>