<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
  <meta th:replace="@{include/meta.html}">

  <link th:replace="@{include/link.html}">
    <title>Document</title>
</head>
<body >
  <header th:replace="@{/include/navbar.html}"> </header>
    <h1>Register</h1>
    <div class="card w-75 mx-auto">
        <div class="card-body">
            <p th:if="${feedback}" th:text="${feedback}"></p>
            
            <form th:action="@{/login}" method="post">
                <label for="username">Username</label>:
                <input type="text" id="username" name="username" autofocus="autofocus" /> <br />
                <label for="password">Password</label>:
                <input type="password" id="password" name="password" /> <br />
                <input type="submit" value="Log in" />
            </form>
        </div>
    </div>
</body>
</html>