<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
  <meta th:replace="@{include/meta.html}">

  <link th:replace="@{include/link.html}">
    <title>Document</title>
</head>
<body>
  <header th:replace="@{/include/navbar.html}"> </header>

  <div class="parent container d-flex justify-content-center align-items-center h-100"></div>
    <div class="container-lg p-5 mx-auto mainArt align-item-center">

      <div class="card mb-3" th:each="players:${players}"style="max-width: 80%;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="..." class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><p th:text="${players.pseudo}"></p></h5>
              <p class="card-text">pseudo</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- ajout de trucs, ajout psw/compte > classique user/mdp etc, form de connection, tenter les maquettes mobiles avec ligma ou whatever
- slide charte graphique explication + parler des media querys css = style qui s'applique en fonction de la taille de l'écrans, c'est les col ou les md etc

ajouter du js style bdd : nécésité d'interraction avec la base de donnée et un appel ajax  
route en rest controller + json pour une barre de recherche ou truc du genre . ça marche requette ajax + form  -> getmapping qui me r'envoie le lien de la methode-->

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

<!-- <script th:replace="@{include/script.html}"></script> -->

</body >
</html>